* { box-sizing: border-box; } 
body {margin: 0;}
.row{display:flex;justify-content:flex-start;align-items:stretch;flex-wrap:nowrap;padding:10px;}
.cell{min-height:75px;flex-grow:1;flex-basis:100%;}
.playercardrow{height:418px;justify-content:space-around;align-items:center;label-parent-flex:2;}
.playercard{text-align:center;font-weight:700;line-height:normal;align-self:flex-start;max-width:50%;}
.playername{padding:10px;}
.playerinfo{padding:10px;float:left;width:75%;height:auto;font-size:5em;align-items:flex-start;}
.imagecol{flex-direction:column;label-parent-flex:0;flex:0 0 100%;display:flex;justify-content:center;align-self:flex-start;}
.imagerow{padding:0 0 0 0;}
@media (max-width: 768px){.row{flex-wrap:wrap;}}
