<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="./css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
  </head>
  <body>
    <div class="row" id="playercards">
      {% for player in players %}
      <div class="cell playercard">
        <div class="playername">{{player.name}}</div>
        <div class="playerinfo"><b class="score">{{player.score}}</b></div>
        <div class="row imagerow">
          <div class="cell imagelist">
            {% for image in player.get_images() %}
            <img class="image" src="{{ image }}"/>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
<html>
